<html>
<head>
    <title>{{ title }}</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
      
          <!-- Icon -->
          <div class="fadeIn first">
            <h3>How to Use Data Mocker</h3>
          </div>
          <hr>

          <p>1. Enter Number of Column.</p>
          <img src="{{ url_for('static', path='images/Howto1.png') }}" class="img-how" />
          <hr>

          <p>2. Enter Name and Value to each columns.</p>
          <p> Warning: you can use comma(,) for separate value like example</p>
          <p>3. Enter Total Rows.</p>
          <p>4. Click Let's Mock!.</p>
          <img src="{{ url_for('static', path='images/Howto2.png') }}" class="img-how" />
          <hr>
          <p>5. Copy Data to your Excel.</p>
          <img src="{{ url_for('static', path='images/Howto3.png') }}" class="img-how" />
          <hr>
          <p>5. Let's fun with your Data.</p>
          <img src="{{ url_for('static', path='images/Howto4.png') }}" class="img-how" />
          <hr>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="/">Back to Home</a>
          </div>
      
        </div>
      </div>
</body>
</html>